<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

    <h1>{{ title }}</h1>

    <form method="post" action="/story">
        <dl><label>Story title</label></dl>
        <dl><input  id="story_title" type="text" name="story_title", size="20" /></dl>
        <dl><label>User Story</label></dl>
        <dl><textarea  id= "story" name="story" cols="20" rows="10"></textarea></dl>
        <dl><label>Acceptance Criteria</label></dl>
        <dl><textarea title="criteria" name="criteria" id="criteria" cols="20" rows="10"></textarea></dl>
        <dl><label>Business Value</label></dl>
        <dl><input id="business_value" type="number" name="business_value" min="100" max="1500" step="100" value="100" /></dl>
        <dl><label>Estimation (h)</label></dl>
        <dl><input id="estimation" type="number" name="estimation" min="0.5" max="40" step="0.5" value="0.5" /></dl>
        <dl><label>Status</label></dl>
        <dl>
            <select id="status" name="status">
                <option value="Planning">Planning</option>
                <option>To Do</option>
                <option>In Progress</option>
                <option>Review</option>
                <option>Done</option>
            </select>
        </dl>
        <dl><input id="submit_story" type="submit" name="submit_story" value="Save"></dl>
    </form>
</body>
</html>